.title {
  font-family: 'Roboto Medium';
  font-size: clamp(1.375rem, 0.913rem + 0.802vw, 1.875rem);
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  letter-spacing: 3px;
  color: #FFF;

  @media screen and (max-width: 695px) {
    text-align: center;
  }
}